body {
      background : #E6E6FA;
     }
h1 {
    text-align : center;
   }
header { height:210px;
       } 
#foot { /* Нижний блок */
    background: #333; /* Цвет фона */
    padding: 5px; /* Поля вокруг текста */
    color: #fff; /* Цвет текста */
    clear: both; /* Отменяем обтекание */
   }
h1.zagl {
	text-align:center;
	color:black;
	font-size: 18px;
	font-weight: 400;
}
#leftcol { 
    float: left; /* Обтекание справа */
    border: 1px solid #333; /* Параметры рамки вокруг */
    width: 150px; /* Ширина колонки */
    padding: 5px; /* Поля вокруг текста */
    margin: 10px 10px 20px 5px; /* Значения отступов */
	height:200px;/*высота*/
  }
a {
    color: #008000; /* Цвет обычной ссылки */ 
    text-decoration: none; /* Убираем подчеркивание у ссылок */
   }
a:visited {
    color: #800080; /* Цвет посещённой ссылки */
   } 
a:hover {
    color: #FFD700; /* Цвет ссылки при наведении на нее курсора мыши */  
    text-decoration: underline; /* Добавляем подчеркивание */
   }
p:first-letter {
    color:MediumVioletRed; /* Красный цвет первой буквы */
	font-size: 170%
   }


input::selection { /*выделение набранного текста*/
  color: gold;
  background: red;
}

li {
    list-style-type: none; /* Прячем исходные маркеры */
   }
A {
    color:Teal ;
	font-style: italic;
	font-size: 18px;
   }
s1.Zagolovki {
	text-align:center;
	color:black;
	font-size: 18px;
	font-weight: 400;
}
div.text{
	color : #4B0082;
	font-size: 14px;
	font-style: italic;
	line-height:16px;
	text-align:justify;
}
div.detali{
	color :#484343;
	font-size: 16px;
	font-weight:400;
	line-height: 24px;
	text-align: left;
}
div.list{
	color :#800080;
	font-size: 16px;
	text-align: justify;
	list-style-image: url("pic.png")
}
input.form[type="text"] {
font-size: 14px;
font-style: italic;
color: Purple;
background: PaleGoldenrod; 
text-transform: capitalize;  /*заглавные буквы*/
} 
input.form2[type="button"] {
font-weight: bold;
font-size: 18px;
font-style: normal;
text-align: center;
} 
textarea.form {
font-size: 12px;
font-style: italic;
text-transform: capitalize;  /*заглавные буквы*/
}
.image-item {
background: RosyBrown;
display: inline-block;
float: right;
border: 3px solid transparent; /* Пока курсор не наведен, рамка присутствует, но её не видно, т.к. она прозрачная. */
}

.image-item:hover {
border: 3px solid #fff; /* Рамка становится заметной, при наведении курсора. */
}

.img:hover{
border-color: transparent;
}
